<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ezzatron" value="https://nuget.pkg.github.com/ezzatron/index.json" />
  </packageSources>

  <config>
    <add key="defaultPushSource" value="ezzatron" />
  </config>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <packageSource key="ezzatron">
      <package pattern="Ezzatron.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <ezzatron>
        <add key="Username" value="test" />
        <add key="ClearTextPassword" value="test" />
      </ezzatron>
  </packageSourceCredentials>
</configuration>
